<div class="u-body u-xl-mode">
  <header class="u-clearfix u-custom-color-4 u-header u-header" id="sec-8649">
    <div class="u-clearfix u-sheet u-sheet-1">
      <a href="https://nicepage.com" class="u-image u-logo u-image-1" data-image-width="213" data-image-height="45">

        <%= image_tag "Thrivecoin-logo.png" %>

      </a>
      <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1" data-position="">
        <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
          <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
            <svg class="u-svg-link" viewBox="0 0 24 24">
              <use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-8096"></use>
            </svg>
            <svg class="u-svg-content" version="1.1" id="svg-8096" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg">
              <g>
                <rect y="1" width="16" height="2"></rect>
                <rect y="7" width="16" height="2"></rect>
                <rect y="13" width="16" height="2"></rect>
              </g>
            </svg>
          </a>
        </div>
        <div class="u-custom-menu u-nav-container">
          <ul class="u-nav u-unstyled u-nav-1" style="padding-left:inherit">

            <li class="u-nav-item">
              <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="Contact.html" style="padding: 10px 20px;">What's
                it?</a>
            </li>
            <li class="u-nav-item">
              <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="Get-Thrive-Coin.html" style="padding: 10px 20px;">Get
                Thrive Coin</a>
            </li>
            <li class="u-nav-item">
              <a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="Contact.html" style="padding: 10px 20px;">Leaaderboard</a>
            </li>

          </ul>
        </div>
        <div class="u-custom-menu u-nav-container-collapse">
          <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
            <div class="u-inner-container-layout u-sidenav-overflow">
              <div class="u-menu-close"></div>
              <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2">
                <li class="u-nav-item">
                  <a class="u-button-style u-nav-link" href="LeaderBoard.html">What's it?</a>
                </li>
                <li class="u-nav-item">
                  <a class="u-button-style u-nav-link" href="Get-Thrive-Coin.html">Get Thrive
                    Coin</a>
                </li>
                <li class="u-nav-item">
                  <a class="u-button-style u-nav-link" href="Contact.html">Contacts</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
        </div>
      </nav>
    </div>
  </header>
  <section class="u-align-center u-clearfix u-custom-color-3 u-section-1" id="carousel_c684">

    <%= image_tag "bannerimage.png", :class => "u-image u-image-default u-image-1" %>
    <h3 class="u-custom-font u-text u-text-body-alt-color u-text-1">Buy some coins to help others
      thrive..<span style="font-weight: 400;"></span>
    </h3>
    <div class="u-container-style u-expanded-width u-group u-shape-rectangle u-white u-group-1">
      <div class="u-container-layout u-container-layout-1">
        <h3 class="u-custom-font u-text u-text-palette-1-dark-2 u-text-2" style="text-indent: 370px">How
          to gi​ve ThriveCoin to others</h3>
        <div class="u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-2"><span class="u-file-icon u-icon u-icon-circle u-icon-1">


              <%= image_tag "download-solid.png" %>
              </span>
                <p class="u-custom-font u-text u-text-3"> Downlaod the pe​ra Argo Wallet</p>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-3"><span class="u-file-icon u-icon u-icon-circle u-icon-2">


              <%= image_tag "wallet-solid.png" %>    </span>

                <p class="u-custom-font u-text u-text-4"> Top up your walle​t with testnet Algo</p>
              </div>
            </div>
            <div class="u-align-center u-container-style u-list-item u-repeater-item">
              <div class="u-container-layout u-similar-container u-valign-top u-container-layout-4"><span class="u-file-icon u-icon u-icon-circle u-icon-3">


              <%= image_tag "Thrive-coin2.png" %>
            </span>
                <p class="u-custom-font u-text u-text-5"> Put some ThriveCoin in your wallet</p>
              </div>
            </div>
          </div>
        </div>
        <a href="" class="u-border-2 u-border-custom-color-2 u-btn u-button-style u-custom-color-2 u-text-body-alt-color u-btn-1">SEE
          THE FULL LIST</a>
      </div>
    </div>
    <h3 class="u-custom-font u-text u-text-body-alt-color u-text-6">The Leaderboard</h3>
    <%= image_tag "trophy-solid.png", :class => "u-image u-image-default u-preserve-proportions u-image-2" %>
    <div class="u-table u-table-responsive u-table-1">

      <table class="u-table-entity">
        <colgroup>
          <col width="47.3%">
          <col width="52.7%">
        </colgroup>
        <thead class="u-align-center u-custom-font u-font-merriweather u-grey-10 u-table-header u-table-header-1">
          <td>Email</td>
          <td>Wallet</td>
          <td>Balance</td>
        </thead>

        <tbody class="u-align-center u-table-body">

          <% @users.each do |user| %>
            <tr style="height: 56px;">
              <td class="u-border-2 u-border-no-left u-border-no-right u-border-white u-table-cell">
                <%= user.email %>
              </td>
              <td class="u-border-2 u-border-no-left u-border-no-right u-border-white u-table-cell">
                <%= @wallets[user.email]["address"] %>
              </td>
              <td class="u-border-2 u-border-no-left u-border-no-right u-border-white u-table-cell">
                <%= @wallets[user.email]["assets"]&.first&.dig("amount") %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
    <a href="" class="u-border-2 u-border-custom-color-2 u-btn u-button-style u-custom-color-2 u-text-body-alt-color u-btn-2">FIND
      OUT MORE</a>
  </section>
</div>