<div class="u-body u-xl-mode"><header class="u-clearfix u-custom-color-4 u-header u-header" id="sec-8649"><div class="u-clearfix u-sheet u-sheet-1">
  <a href="https://nicepage.com" class="u-image u-logo u-image-1" data-image-width="213" data-image-height="45">

    <%= image_tag "Thrivecoin-logo.png" , class:"u-logo-image u-logo-image-1" %>
  </a>
  <nav class="u-menu u-menu-dropdown u-offcanvas u-menu-1" data-position="">
    <div class="menu-collapse" style="font-size: 1rem; letter-spacing: 0px;">
      <a class="u-button-style u-custom-left-right-menu-spacing u-custom-padding-bottom u-custom-top-bottom-menu-spacing u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="#">
        <svg class="u-svg-link" viewBox="0 0 24 24"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-8096"></use></svg>
        <svg class="u-svg-content" version="1.1" id="svg-8096" viewBox="0 0 16 16" x="0px" y="0px" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns="http://www.w3.org/2000/svg"><g><rect y="1" width="16" height="2"></rect><rect y="7" width="16" height="2"></rect><rect y="13" width="16" height="2"></rect>
        </g></svg>
      </a>
    </div>
    <div class="u-custom-menu u-nav-container">
      <ul class="u-nav u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="LeaderBoard.html" style="padding: 10px 20px;">LeaderBoard</a>
      </li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="Get-Thrive-Coin.html" style="padding: 10px 20px;">Get Thrive Coin</a>
      </li><li class="u-nav-item"><a class="u-button-style u-nav-link u-text-active-palette-1-base u-text-hover-palette-2-base" href="Contact.html" style="padding: 10px 20px;">Contact</a>
      </li></ul>
    </div>
    <div class="u-custom-menu u-nav-container-collapse">
      <div class="u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
        <div class="u-inner-container-layout u-sidenav-overflow">
          <div class="u-menu-close"></div>
          <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="LeaderBoard.html">LeaderBoard</a>
          </li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Get-Thrive-Coin.html">Get Thrive Coin</a>
          </li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="Contact.html">Contact</a>
          </li></ul>
        </div>
      </div>
      <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
    </div>
  </nav>
</div></header>
<section class="u-clearfix u-section-1" id="sec-5652">
  <div class="u-clearfix u-sheet u-sheet-1">
    <h3 class="u-custom-font u-text u-text-custom-color-3 u-text-default u-text-1">How to give some ThriveCoin to others..</h3>
    <div class="u-layout-grid u-list u-list-1">
      <div class="u-repeater u-repeater-1">
        <div class="u-border-1 u-border-custom-color-3 u-border-no-left u-border-no-right u-border-no-top u-container-style u-custom-item u-list-item u-radius-3 u-repeater-item u-shape-round">
          <div class="u-container-layout u-similar-container u-container-layout-1">
            <%= image_tag "download-solid-10.png" , class:"u-image u-image-default u-preserve-proportions u-image-1" %>
            <%= image_tag "1.png" , class:"u-image u-image-default u-preserve-proportions u-image-2" %>

            <h3 class="u-align-center u-custom-font u-custom-item u-text u-text-custom-color-3 u-text-2">Download t​he Pera Algo Wallet&nbsp; &nbsp; &nbsp; &nbsp;</h3>
            <blockquote class="u-align-left u-custom-font u-text u-text-3">
              <span style="font-weight: 700;" class="u-text-custom-color-3"></span><b>
                    <span style="font-weight: 400;" class="u-text-custom-color-3">Find the app in the Android/Apple app store.<br>You will be given a passphrase and you will also create a passcode.<br>Write down your passphrase and keep it safe (the app won’t let you screenshot this!).<br>Go to ‘settings-&gt;developer settings-&gt;node settings’ and change from main net to test net
                    </span>
              <br></b>
            </blockquote>
          </div>
        </div>
        <div class="u-border-1 u-border-custom-color-3 u-border-no-left u-border-no-right u-border-no-top u-container-style u-custom-item u-list-item u-radius-3 u-repeater-item u-shape-round">
          <div class="u-container-layout u-similar-container u-container-layout-2">
            <%= image_tag "wallet-solid-13.png" , class:"u-image u-image-default u-preserve-proportions u-image-3" %>
            <%= image_tag "2.png" ,  class:"u-image u-image-default u-preserve-proportions u-image-4" %>

            <h3 class="u-align-center u-custom-font u-custom-item u-text u-text-custom-color-3 u-text-4">Top up your wallet with testnet Algo</h3>
            <blockquote class="u-align-left u-border-4 u-border-palette-1-base u-custom-font u-text u-text-5"><b>
                    <span style="font-weight: 400;" class="u-text-custom-color-3">Before you can add ThriveCoin to your wallet, you first need a small amount of Algo<br>Click the send/receive button in your Pera wallet (bottom right of screen)<br>Click receive to see your public address<br>Copy your address<br>Go to <a href="https://bank.testnet.algorand.network/" class="u-active-none u-border-none u-btn u-button-style u-hover-none u-none u-text-palette-1-base u-btn-1">https://bank.testnet.algorand.network/</a>
                      <br>Click the Recaptcha<br>Paste your address into the dispenser and click dispense<br>Check your wallet and you should have received 10 Algo within a few seconds
                    </span>
              <br></b>
            </blockquote>
          </div>
        </div>
        <div class="u-border-1 u-border-custom-color-3 u-border-no-left u-border-no-right u-border-no-top u-container-style u-custom-item u-list-item u-radius-3 u-repeater-item u-shape-round">
          <div class="u-container-layout u-similar-container u-container-layout-3">

            <%= image_tag "Thrive-coin2-11.png" , class:"u-image u-image-default u-preserve-proportions u-image-5" %>
            <%= image_tag "3.png" , class:"u-image u-image-default u-preserve-proportions u-image-6" %>


            <h3 class="u-align-center u-custom-font u-custom-item u-text u-text-custom-color-3 u-text-6">Put some ThriveCoin in your wallet&nbsp;&nbsp;</h3>
            <blockquote class="u-align-left u-border-4 u-border-palette-1-base u-custom-font u-text u-text-7"><b>
              <span style="font-weight: 400;"></span></b><b>‘<span style="font-weight: 400;" class="u-text-custom-color-3">Under accounts’, click on your wallet<br>Click ‘Add New Asset’<br>Click ‘All’ (ThriveCoin is not verified)<br>Then search for ‘ThriveCoin’ or ‘90740655’ (ThriveCoin’s Asset ID)<br>Click on ThriveCoin and select approve<br>Your wallet will show ‘Adding Asset’ for a few seconds<br>When the asset is added, you are now ready to receive ThriveCoin!
                    </span>
              <br></b>
            </blockquote>
          </div>
        </div>
        <div class="u-border-1 u-border-custom-color-3 u-border-no-left u-border-no-right u-border-no-top u-container-style u-custom-item u-list-item u-radius-3 u-repeater-item u-shape-round">
          <div class="u-container-layout u-similar-container u-container-layout-4">

            <%= image_tag "download-solid-10.png" , class:"u-image u-image-default u-preserve-proportions u-image-7" %>
            <%= image_tag "4.png" , class:"u-image u-image-default u-preserve-proportions u-image-8" %>


            <h3 class="u-align-center u-custom-font u-custom-item u-text u-text-custom-color-3 u-text-8">&nbsp;Now send some ThriveCoin&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</h3>
            <blockquote class="u-align-left u-border-4 u-border-palette-1-base u-custom-font u-text u-text-9"><b>
                    <span style="font-weight: 400;" class="u-text-custom-color-3">Click send<br>Enter an algorand address and quantity of ThriveCoin to send<br>Send!
                    </span>
              <br></b>
            </blockquote>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<footer class="u-align-center u-clearfix u-custom-color-4 u-footer u-footer" id="sec-d407"><div class="u-align-left u-clearfix u-sheet u-sheet-1"></div></footer>

</div>